
  <div class="container">
    <div class="row">
      <div class="row" *ngIf="authError">
        <div class="col-12 alert alert-danger">
          {{ authError?.message }}
        </div>
      </div>
 <form  (ngSubmit) = "onSubmit(loginForm)"   #loginForm="ngForm" class="form-horizontal">
     <h2 align ="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D A</h2>
   <div class="form-group">
     <label class="control-label col-sm-2 col-sm-offset-3" for="email"><span class="glyphicon glyphicon-user"></span></label>
     <div class="col-sm-3">
       <input type="email" class="form-control" id="emailId"  ngModel #emailId= "ngModel"  placeholder="Enter emailId" name="emailId">
     </div>
   </div>
   <div class="form-group">
     <label class="control-label col-sm-2 col-sm-2 col-sm-offset-3" for="password"><span class="glyphicon glyphicon-lock"></span></label>
     <div class="col-sm-3">
       <input type="password" class="form-control" id="password" ngModel #password= "ngModel"  placeholder="Enter password"   name="password">
     </div>
   </div>
   <div class = "col-sm-offset-6">
   <button [disabled]="loading"  class="btn btn-primary" [disabled]="!loginForm.form.valid" >Login</button>
   &nbsp;<button class="btn btn-primary" [routerLink]="['/signUp']">SignUp</button>
</div>
 </form>
 </div>
</div>
