<div class="page-header">
    <h3>SignUp</h3>
  </div>
<div class="container">
  <div class="row" *ngIf="authError">
    <div class="col-12 alert alert-danger">
      {{ authError?.message }}
    </div>
  </div>
<form class="form-horizontal" (ngSubmit) = "onSubmit(signUpForm)"   #signUpForm="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-3" for="emailId">Email Id:</label>
      <div class="col-md-3">
        <input type="email" class="form-control" name="emailId" ngModel #emailId= "ngModel"  placeholder="Enter Email  Id">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="name">Name:</label>
      <div class="col-md-3">
        <input type="text" class="form-control" name="name"  ngModel #name= "ngModel"  placeholder="Enter Name">
      </div>
    </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="password">Passward:</label>
        <div class="col-md-3">
          <input type="password" class="form-control" name="password" ngModel #password= "ngModel"  placeholder="Enter Password">
        </div>
      </div>
      <div class = "col-sm-offset-4">
        <button [disabled]="loading"  class="btn btn-primary" [disabled]="!signUpForm.form.valid" >Submit</button>
         </div>
  </form>
</div>
