
<!-- dialog-box.component.html -->


<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>


<div mat-dialog-content>

<div  *ngIf="action == 'Update'">
  <mat-form-field>
    <input placeholder="First Name"  matInput  [(ngModel)]= "local_data.firstName">
</mat-form-field>

<mat-form-field>
<input placeholder="Last Name"  matInput  [(ngModel)]= "local_data.lastName">
</mat-form-field>

<mat-form-field>
<input placeholder="Contact Number"  matInput  [(ngModel)]= "local_data.contactNumber">
</mat-form-field>

<mat-form-field *ngFor="let item of local_data.address ; let i = index">
  <input placeholder="Address {{i+1}}" matInput [(ngModel)]= "item.addressLine1">
  </mat-form-field>


</div>

<div  *ngIf="action == 'Add'">
  <mat-form-field>
    <input placeholder="First Name"  matInput  [(ngModel)]= "local_data.firstName">
</mat-form-field>

<mat-form-field>
<input placeholder="Last Name"  matInput  [(ngModel)]= "local_data.lastName">
</mat-form-field>

<mat-form-field>
<input placeholder="Contact Number"  matInput  [(ngModel)]= "local_data.contactNumber">
</mat-form-field>
<mat-form-field *ngFor="let item of address ; let i = index">
  <input placeholder="Address {{i+1}}" matInput [(ngModel)]= "item.addressLine1">
  </mat-form-field>

</div>



<div  *ngIf="action == 'Delete'">
  Sure to delete <b>{{local_data.firstName}}</b>?
  <br/><mat-checkbox [(ngModel)]= " parmanentDelete">parmanent delete</mat-checkbox>
</div>





</div>


<div mat-dialog-actions>


  <button mat-button (click)="doAction()">{{action}}</button>


  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>

</div>