<p *ngIf="user">Logged in as: {{ user?.email }} - {{ user?.displayName }}</p>
<div><button class="btn-sm btn-primary" (click) = "logOut()">Logout</button></div>

<div class="page-header">
    <h3>Patient Details</h3>  <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>
</div>
<div class="row" *ngIf="authError">
    <div class="col-12 alert alert-danger">
      {{ authError?.message }}
    </div>
  </div>
<div class="container">
<div class="row">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

          <!--Last  Name Column -->
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>

         <!-- Contact Column -->
         <ng-container matColumnDef="contactNumber">
            <th mat-header-cell *matHeaderCellDef> Contact Number </th>
            <td mat-cell *matCellDef="let element"> {{element.contactNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link"> 
              <a (click)="openDialog('Update',element)">Edit</a> | 
              <a (click)="openDialog('Delete',element)">Delete</a>  
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"  showFirstLastButtons></mat-paginator>
</div>
</div>